nav,
footer {
  background-color: #5022bd;
}

i,
a {
  color: #eda528;
}

h1,
h3 {
  color: #eda528;
}

h2,
h4,
h5 {
  color: #5022bd;
}

a:hover {
  color: white;
}

li a {
  color: #5022bd;
}

li a:hover {
  color: #eda528;
}

img {
  opacity: 0.8;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  img {
    width: 50%;
  }
}